{% extends 'core/layout/app.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/charts/apexcharts.css' %}">
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">

        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'app-assets/vendors/js/charts/apexcharts.min.js' %}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'app-assets/js/scripts/pages/dashboard-ecommerce.js' %}"></script>
    <!-- END: Page JS-->
{% endblock %}